body {
  
  font-family: 'DM Sans', sans-serif;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'DM Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  
}



* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, "DM Sans";
  
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Libre Franklin', sans-serif;

}
